@import "../../app.scss";

.skills{
    display: flex;
    gap:5px;
    align-items: center;
    flex-direction: column;
    
    p{
        font-size: 13px;
    }
    svg{
        width: 51px;
        height: 50px;  
    }
    
}